/* ==========================================================================
   Pulse skin
   ========================================================================== */

/* Colors */
$background-color: #0b1021 !default;
$text-color: #f8f8ff !default;
$muted-text-color: mix(#fff, $background-color, 70%) !default;

$primary-color: #7df9ff !default;
$secondary-color: #ff5fa2 !default;
$tertiary-color: #cfa9ff !default;

$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 10%) !default;
$code-background-color-dark: mix(#000, $background-color, 15%) !default;
$form-background-color: mix(#000, $background-color, 20%) !default;
$footer-background-color: mix($background-color, $primary-color, 30%) !default;

$link-color: $primary-color !default;
$link-color-hover: mix($secondary-color, $primary-color, 55%) !default;
$link-color-visited: mix(#4b3f72, $primary-color, 40%) !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix($secondary-color, $background-color, 30%) !default;

/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;

/* syntax highlighting (base16) */
$base00: #0b1021 !default;
$base01: #161c36 !default;
$base02: #232a4d !default;
$base03: #cdd7ff !default;
$base04: #d5deff !default;
$base05: #e5e9ff !default;
$base06: #f8f8ff !default;
$base07: #ffffff !default;
$base08: #ff5fa2 !default;
$base09: #ff8b6a !default;
$base0a: #ffd166 !default;
$base0b: #8ef5a2 !default;
$base0c: #6be4ff !default;
$base0d: #7df9ff !default;
$base0e: #cfa9ff !default;
$base0f: #ff94c2 !defaul

  